{{ define "main" }}
  <main role="main" aria-labelledby="taxonomy-title">
    <h1 id="taxonomy-title">{{ .Title }}</h1>
    {{ .Content }}

    {{- with .Data.Terms.Alphabetical }}
      <div class="terms tag-index" role="region" aria-labelledby="taxonomy-terms-label">
        <div id="taxonomy-terms-label" class="terms-label">Tags</div>
        <ul class="terms-list" role="list" aria-label="All tags">
          {{- range . }}
            {{- with .Page }}
              <li class="term" role="listitem"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{- end }}
          {{- end }}
        </ul>
      </div>
    {{- end }}
  </main>
{{ end }}
